@charset "utf-8";
@media only screen and (max-width:430px), only screen and (max-device-width:430px), handheld{
    .pc {
        display: none;  /* 테이블에서 collapse에 적용된다. */
        visibility: hidden;
    }

    td.pc {
        visibility: collapse;
    }

    .content {
        padding: 3px !important;
        padding-bottom: 3px !important;
        min-height: 250px !important;
    }

    h1,h2,h3,h4 {
        font-size: 1.5em !important;
    }
}

@media only screen and (max-width:800px) {
    /* dandelion datatables 검색과 다운로드 버튼 안보이게 */
    .dataTables_filter {
    	display: none;
        visibility: hidden;
    }
    
    .dataTables_export {
    	display: none;
        visibility: hidden;
    }
    
}

body div.content {
	min-height: 350px;
}
